
@{
    //ViewdataVsViewBag.tbl_MyTable obj = (ViewdataVsViewBag.tbl_MyTable)ViewBag.O;
    //Another advantage of ViewBag is that there is no need of typecasting
    List<ViewdataVsViewBag.tbl_MyTable> ListObj = ViewBag.LR;
    ViewdataVsViewBag.tbl_MyTable obj = ViewBag.O;
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Age</td>

        </tr>
        @foreach (var item in ListObj)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Age</td>

            </tr>

        }
    </table>


    <div>
        @using (Html.BeginForm("Read", "Home", FormMethod.Post))
        {
            <fieldset>
                <legend>tbl_MyTable</legend>
                <table>
                    <tr>
                        <td>
                            @Html.Label("Enter Id Here:")
                        </td>
                        <td>
                            @Html.TextBox("ID")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Name:")
                        </td>
                        <td>
                           @if (obj != null)
                           {
                            <p>@obj.Name</p>
                           }
                          @* @if(ViewData["N"]!=null)
    {
        <p> @ViewData["N"].ToString() </p>
    }*@
                          @*  @if (ViewBag.N != null)
                            {
                                <p> @ViewBag.N.ToString() </p>
                            }*@

                            @*<p> @ViewBag.N </p>*@ @*This would suffice and ViewBag has advantage over ViewData that is no need to check for nulls*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Age")
                        </td>


                        <td>
                           @* @if (ViewData["A"] != null)
    {
        <p> @ViewData["A"].ToString() </p>
    }*@
                            @*@if (ViewBag.A != null)
    {
        <p> @ViewBag.A.ToString() </p>
    }*@                 
                           @if(obj!=null)
                            {
                             <p> @obj.Age </p>
                            
                            }
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBox("Sub", "Submit", "", new { type = "submit" })
                        </td>
                    </tr>

                </table>
            </fieldset>
        }

    </div>
</body>
</html>
