@model EdmValidation.Models.tbl_Department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.D_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.D_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
